<h1>Contact LUL</h1>

<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?" value="<%= params[:member]%>">
  <input type="submit">
</form>

<ul>
  <% @members.each do |name| %>
  <li><%= name.capitalize %></li>
  <% end %>
</ul>
